{% extends '../layout.twig' %}

{% block content %}
    <form action="#" method="post">
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" placeholder="Book Name" required value="{{books.name}}">
        </div>
        <div class="form-group">
            <label>Author</label>
            <input type="text" name="author" class="form-control" placeholder="Author Name" required value="{{books.author}}">
        </div>
        <div class="form-group">
            <label>Publication Year</label>
            <input type="text" name="publication_year" class="form-control" placeholder="Publication Year" value="{{books.publication_year}}">
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea name="description" class="form-control" placeholder="Description" >{{books.description}}</textarea>
        </div>
        <div class="form-group">
            <label>Category</label>
            <select name="category" class="form-control">
               {% for c in cats %}
                <option value="{{c._id}}">{{c.name}}</option>
                {%endfor%}
            </select>
        </div>
        <div class="form-group">
            <button class="btn btn-primary"><i class="glyphicon glyphicon-save"></i> Save</button>
        </div>
    </form>
{% endblock %}
